<h3>{{isEdit?"Edit":"New"}} Book</h3>
<h3>Book Details</h3>
<form name="form" #f=ngForm novalidate (ngSubmit)="f.form.valid && saveBook()">
<table>
  <tr>
    <th>Book #</th>
    <td>
      <input type="number" name="code" [(ngModel)]="book.bcode" *ngIf="!isEdit"  />
      <!-- <ul [hidden]=code.valid>
        <li [hidden]=code.required>cannot be empty</li>
        <li [hidden]=code.minlength>cannot be less than 101</li>
      </ul> -->
      <span *ngIf="isEdit">{{book.bcode}}</span></td>
  </tr>
  <tr>
    <th>Book Title</th>
    <td><input type="text" name="titles" [(ngModel)]="book.title"
      #titles=ngModel required minlength="5" maxlength="30"
      />
    <ul [hidden]=titles.valid>
      <li [hidden]=titles.required > cannot be empty</li>
      <li [hidden]=titles.minlength>cannot be less than 5</li>
      <li [hidden]=titles.maxlength>cannot be greater than 30</li>

    </ul>
    
    </td>
  </tr>
  <tr>
    <th>Price</th>
    <td><input type="number" name="prices" [(ngModel)]="book.price"/></td>
  </tr>
  <tr>
    <th>Category</th>
    <td>
    <select [(ngModel)]="book.category" name="categorys" #categorys=ngModel required>
      <option value="">--Select--</option>
      <option value="Novel">Novel</option>
      <option value="Magazine">Magazine</option>
      <option value="TextBook">TextBook</option>
      <option value="Weekly">Weekly</option>
    </select>
    <ul [hidden]=categorys.valid>
        <li > Please select an option</li>
    </ul>
  </td>
  </tr>
  <tr>
    <th>Type</th>
    <td>
<select [(ngModel)]="book.type" name="booktype" #booktype=ngModel required>
  <option value="">--Select--</option>
  <option value="HardCopy">HardCopy</option>
      <option value="Digital">Digital</option>
</select>
<ul [hidden]=booktype.valid>
    <li > Please select an option</li>
</ul>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="text-align:right">
    
      <button >Save</button>
    </td>
  </tr>
</table>
</form>

