table{    
    width:950px;    
    margin:auto;    
    border:2px solid black;
}
th,td{    
    padding:10px;    
    border-bottom: 1px solid black;
}
tbody tr:last-child td{    
    border:0px;
}
    th{
        text-align:left;
        width:250px;
    }
    td{    
        font-style: italic;
    
    }